<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="mb-4">Add Product</h2>
            <form action="addproducts" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Product Name</label>
                    <input type="text" name="pname" class="form-control" id="inputName" placeholder="Product Name" required>
                </div>
                <div class="mb-3">
                    <label for="inputPrice" class="form-label">Price</label>
                    <input type="number" name="price" class="form-control" id="inputPrice" placeholder="Price" required>
                </div>
                <div class="mb-3">
                    <label for="inputBrand" class="form-label">Brand</label>
                    <input type="text" name="brand" class="form-control" id="inputBrand" placeholder="Brand" required>
                </div>
                <div class="mb-3">
                    <label for="inputImage" class="form-label">Image</label>
                    <input class="form-control" type="file" id="inputImage" name="image" required>
                </div>
                <button type="submit" class="btn btn-outline-dark">Add Products</button>
            </form>
        </div>
    </div>
</div>